<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bundesliga</key>
	<dict>
		<key>1. FSV Mainz 05</key>
		<dict>
			<key>backgroundColor</key>
			<string>#ea3323</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Opel Arena</string>
			<key>city</key>
			<string>Mainz</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>49.98415</real>
				<key>lon</key>
				<real>8.224299999999999</real>
			</dict>
		</dict>
		<key>Werder Bremen</key>
		<dict>
			<key>backgroundColor</key>
			<string>#009662</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Weserstadion</string>
			<key>city</key>
			<string>Bremen</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>53.066433</real>
				<key>lon</key>
				<real>8.837605</real>
			</dict>
		</dict>
		<key>Schalke 04</key>
		<dict>
			<key>backgroundColor</key>
			<string>#0063aa</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>VELTINS-Arena</string>
			<key>city</key>
			<string>Gelsenkirchen</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>51.5546309</real>
				<key>lon</key>
				<real>7.06752619</real>
			</dict>
		</dict>
		<key>Eintracht Frankfurt</key>
		<dict>
			<key>backgroundColor</key>
			<string>#ce291f</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Commerzbank-Arena</string>
			<key>city</key>
			<string>Frankfurt</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>50.0685807</real>
				<key>lon</key>
				<real>8.645472</real>
			</dict>
		</dict>
		<key>Bayer Leverkusen</key>
		<dict>
			<key>backgroundColor</key>
			<string>#e4210b</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>BayArena</string>
			<key>city</key>
			<string>Leverkusen</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>51.0382091</real>
				<key>lon</key>
				<real>7.0022566</real>
			</dict>
		</dict>
		<key>Bayern München</key>
		<dict>
			<key>backgroundColor</key>
			<string>#df2127</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Allianz-Arena</string>
			<key>city</key>
			<string>München</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>48.2187997</real>
				<key>lon</key>
				<real>11.624707</real>
			</dict>
		</dict>
		<key>Borussia Dortmund</key>
		<dict>
			<key>backgroundColor</key>
			<string>#000000</string>
			<key>textColor</key>
			<string>#ffe800</string>
			<key>arrowColor</key>
			<string>#ffe800</string>
			<key>name</key>
			<string>Signal Iduna Park</string>
			<key>city</key>
			<string>Dortmund</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>51.4907437</real>
				<key>lon</key>
				<real>7.45755129</real>
			</dict>
		</dict>
		<key>RB Leipzig</key>
		<dict>
			<key>backgroundColor</key>
			<string>#e0223c</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Red Bull Arena</string>
			<key>city</key>
			<string>Leipzig</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>51.345807699</real>
				<key>lon</key>
				<real>12.3482854</real>
			</dict>
		</dict>
		<key>TSG Hoffenheim</key>
		<dict>
			<key>backgroundColor</key>
			<string>#1c63b7</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Rhein-Neckar-Arena</string>
			<key>city</key>
			<string>Sinsheim</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>49.2381003</real>
				<key>lon</key>
				<real>8.888006899000001</real>
			</dict>
		</dict>
		<key>1. FC Köln</key>
		<dict>
			<key>backgroundColor</key>
			<string>#eb2206</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Rheinenergiestadion</string>
			<key>city</key>
			<string>Köln</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>50.9334609</real>
				<key>lon</key>
				<real>6.8751545</real>
			</dict>
		</dict>
		<key>Hertha BSC</key>
		<dict>
			<key>backgroundColor</key>
			<string>#005eaa</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Olympiastadion</string>
			<key>city</key>
			<string>Berlin</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>52.5111412</real>
				<key>lon</key>
				<real>13.2410575</real>
			</dict>
		</dict>
		<key>SC Freiburg</key>
		<dict>
			<key>backgroundColor</key>
			<string>#000000</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Schwarzwald-Stadion</string>
			<key>city</key>
			<string>Freiburg</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>47.988917</real>
				<key>lon</key>
				<real>7.89287699</real>
			</dict>
		</dict>
		<key>FC Augsburg</key>
		<dict>
			<key>backgroundColor</key>
			<string>#ba3733</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>WWK ARENA</string>
			<key>city</key>
			<string>Augsburg</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>48.3231683</real>
				<key>lon</key>
				<real>10.8860303</real>
			</dict>
		</dict>
		<key>Borussia Mönchengladbach</key>
		<dict>
			<key>backgroundColor</key>
			<string>#000000</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Borussia-Park</string>
			<key>city</key>
			<string>Mönchengladbach</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>51.1745698</real>
				<key>lon</key>
				<real>6.3855055</real>
			</dict>
		</dict>
		<key>Hamburger SV</key>
		<dict>
			<key>backgroundColor</key>
			<string>#004087</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Volksparkstadion</string>
			<key>city</key>
			<string>Hamburg</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>53.5871279</real>
				<key>lon</key>
				<real>9.89860039</real>
			</dict>
		</dict>
		<key>VFL Wolfsburg</key>
		<dict>
			<key>backgroundColor</key>
			<string>#00a300</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Volkswagen Arena</string>
			<key>city</key>
			<string>Wolfsburg</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>52.4326995</real>
				<key>lon</key>
				<real>10.80385039</real>
			</dict>
		</dict>
		<key>VFB Stuttgart</key>
		<dict>
			<key>backgroundColor</key>
			<string>#f22b1a</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Mercedes-Benz Arena</string>
			<key>city</key>
			<string>Stuttgart</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>48.7922577</real>
				<key>lon</key>
				<real>9.232079999</real>
			</dict>
		</dict>
		<key>Hannover 96</key>
		<dict>
			<key>backgroundColor</key>
			<string>#009822</string>
			<key>textColor</key>
			<string>#000000</string>
			<key>arrowColor</key>
			<string>#000000</string>
			<key>name</key>
			<string>HDI-Arena</string>
			<key>city</key>
			<string>Hannover</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>52.361892999</real>
				<key>lon</key>
				<real>9.733839999000001</real>
			</dict>
		</dict>
	</dict>
	<key>Zweite Bundesliga</key>
	<dict>
		<key>FC St.Pauli</key>
		<dict>
			<key>backgroundColor</key>
			<string>#5C4837</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Millerntorstadion</string>
			<key>city</key>
			<string>Hamburg</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>53.554784</real>
				<key>lon</key>
				<real>9.967845000000001</real>
			</dict>
		</dict>
		<key>Fortuna Düsseldorf</key>
		<dict>
			<key>backgroundColor</key>
			<string>#EA3323</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>ESPRIT arena</string>
			<key>city</key>
			<string>Düsseldorf</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>51.261539</real>
				<key>lon</key>
				<real>6.733083</real>
			</dict>
		</dict>
		<key>Holstein Kiel</key>
		<dict>
			<key>backgroundColor</key>
			<string>#0013F5</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#EA3323</string>
			<key>name</key>
			<string>Holstein-Stadion</string>
			<key>city</key>
			<string>Kiel</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>54.349167</real>
				<key>lon</key>
				<real>10.123611</real>
			</dict>
		</dict>
		<key>1. FC Nürnberg</key>
		<dict>
			<key>backgroundColor</key>
			<string>#75140C</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#000000</string>
			<key>name</key>
			<string>Max-Morlock-Stadion</string>
			<key>city</key>
			<string>Nürnberg</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>49.426389</real>
				<key>lon</key>
				<real>11.125833</real>
			</dict>
		</dict>
		<key>FC Ingolstadt 04</key>
		<dict>
			<key>backgroundColor</key>
			<string>#EA3323</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#020202</string>
			<key>name</key>
			<string>Audi-Sportpark</string>
			<key>city</key>
			<string>Ingolstadt</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>48.745556</real>
				<key>lon</key>
				<real>11.485</real>
			</dict>
		</dict>
		<key>SV Sandhausen</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>textColor</key>
			<string>#000000</string>
			<key>arrowColor</key>
			<string>#000000</string>
			<key>name</key>
			<string>Hardtwaldstadion</string>
			<key>city</key>
			<string>Sandhausen</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>49.332083</real>
				<key>lon</key>
				<real>8.647667</real>
			</dict>
		</dict>
		<key>1. FC Union Berlin</key>
		<dict>
			<key>backgroundColor</key>
			<string>#cb232a</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>arrowColor</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>Stadion An der Alten Försterei</string>
			<key>city</key>
			<string>Berlin</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>52.457222</real>
				<key>lon</key>
				<real>13.568056</real>
			</dict>
		</dict>
		<key>MSV Duisburg</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>textColor</key>
			<string>#404080</string>
			<key>arrowColor</key>
			<string>#404080</string>
			<key>name</key>
			<string>Schauinsland-Reisen-Arena</string>
			<key>city</key>
			<string>Duisburg</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>51.408889</real>
				<key>lon</key>
				<real>6.778333</real>
			</dict>
		</dict>
		<key>SSV Jahn Regensburg</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>textColor</key>
			<string>#ff0000</string>
			<key>arrowColor</key>
			<string>#ff0000</string>
			<key>name</key>
			<string>Continental Arena</string>
			<key>city</key>
			<string>Regensburg</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>48.990856</real>
				<key>lon</key>
				<real>12.107238</real>
			</dict>
		</dict>
		<key>Arminia Bielefeld</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>textColor</key>
			<string>#004e95</string>
			<key>arrowColor</key>
			<string>#000000</string>
			<key>name</key>
			<string>SchücoArena</string>
			<key>city</key>
			<string>Bielefeld</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>52.031389</real>
				<key>lon</key>
				<real>8.516944000000001</real>
			</dict>
		</dict>
		<key>Dynamo Dresden</key>
		<dict>
			<key>backgroundColor</key>
			<string>#060604</string>
			<key>textColor</key>
			<string>#f3ac26</string>
			<key>arrowColor</key>
			<string>#93000e</string>
			<key>name</key>
			<string>DDV-Stadion</string>
			<key>city</key>
			<string>Dresden</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>51.041111</real>
				<key>lon</key>
				<real>13.748333</real>
			</dict>
		</dict>
		<key>VfL Bochum</key>
		<dict>
			<key>backgroundColor</key>
			<string>#005ca9</string>
			<key>textColor</key>
			<string>#ffffff</string>
			<key>arrowColor</key>
			<string>#ffffff</string>
			<key>name</key>
			<string>Vonovia Ruhrstadion</string>
			<key>city</key>
			<string>Bochum</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>51.489944</real>
				<key>lon</key>
				<real>7.236489</real>
			</dict>
		</dict>
		<key>FC Erzgebirge Aue</key>
		<dict>
			<key>backgroundColor</key>
			<string>#5d3b85</string>
			<key>textColor</key>
			<string>#ffffff</string>
			<key>arrowColor</key>
			<string>#ffffff</string>
			<key>name</key>
			<string>Erzgebirgsstadion</string>
			<key>city</key>
			<string>Aue</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>50.5975</real>
				<key>lon</key>
				<real>12.711111</real>
			</dict>
		</dict>
		<key>Eintracht Braunschweig</key>
		<dict>
			<key>backgroundColor</key>
			<string>#fbbd0e</string>
			<key>textColor</key>
			<string>#145ca2</string>
			<key>arrowColor</key>
			<string>#145ca2</string>
			<key>name</key>
			<string>Eintracht-Stadion</string>
			<key>city</key>
			<string>Braunschweig</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>52.290144</real>
				<key>lon</key>
				<real>10.521562</real>
			</dict>
		</dict>
		<key>1. FC Heidenheim</key>
		<dict>
			<key>backgroundColor</key>
			<string>#003b79</string>
			<key>textColor</key>
			<string>#ffffff</string>
			<key>arrowColor</key>
			<string>#ffffff</string>
			<key>name</key>
			<string>Voith-Arena</string>
			<key>city</key>
			<string>Heidenheim</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>48.668529</real>
				<key>lon</key>
				<real>10.139319</real>
			</dict>
		</dict>
		<key>SV Darmstadt 98</key>
		<dict>
			<key>backgroundColor</key>
			<string>#014e9e</string>
			<key>textColor</key>
			<string>#ffffff</string>
			<key>arrowColor</key>
			<string>#ffffff</string>
			<key>name</key>
			<string>Merck-Stadion am Böllenfalltor</string>
			<key>city</key>
			<string>Darmstadt</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>49.857701</real>
				<key>lon</key>
				<real>8.672349000000001</real>
			</dict>
		</dict>
		<key>SpVgg Greuther Fürth</key>
		<dict>
			<key>backgroundColor</key>
			<string>#ffffff</string>
			<key>textColor</key>
			<string>#009932</string>
			<key>arrowColor</key>
			<string>#009932</string>
			<key>name</key>
			<string>Sportpark Ronhof Thomas Sommer</string>
			<key>city</key>
			<string>Fürth</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>49.486944</real>
				<key>lon</key>
				<real>10.999167</real>
			</dict>
		</dict>
		<key>1. FC Kaiserslautern</key>
		<dict>
			<key>backgroundColor</key>
			<string>#c32a28</string>
			<key>textColor</key>
			<string>#ffffff</string>
			<key>arrowColor</key>
			<string>#ffffff</string>
			<key>name</key>
			<string>Fritz-Walter-Stadion</string>
			<key>city</key>
			<string>Kaiserslautern</string>
			<key>location</key>
			<dict>
				<key>lat</key>
				<real>49.434722</real>
				<key>lon</key>
				<real>7.776667</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
